<ng-container>
    <!--toolbar-->
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
    </button>
        <span>MeyFunLearning</span>
        <span class="spacer"></span>
        <button mat-button>About</button>
    </mat-toolbar>
    <!--end toolbar-->

    <mat-sidenav-container class="example-container">

        <mat-sidenav #sidenav mode="side" [position]="'start'" opened class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="60" [fixedBottomGap]="0">

            <mat-nav-list>


                <mat-list-item routerLink="/admin/dashboard">
                    <mat-icon matListIcon>dashboard</mat-icon>
                    <h3 matLine>dashboard</h3>
                </mat-list-item>
                <mat-list-item routerLink="/admin/listsiswa">
                    <mat-icon matListIcon>assignment_ind</mat-icon>
                    <h3 matLine>List Siswa</h3>
                </mat-list-item>
                <mat-list-item routerLink="/admin/schedule">
                    <mat-icon matListIcon>date_range</mat-icon>
                    <h3 matLine>Schedule</h3>
                </mat-list-item>



            </mat-nav-list>


        </mat-sidenav>

        <mat-sidenav #sidenav mode="side" [position]="'end'" class="example-sidenav" [fixedInViewport]="true" [fixedTopGap]="60" [fixedBottomGap]="0">



        </mat-sidenav>
        <!--sidenav content-->
        <mat-sidenav-content style="padding: 20px; background-color: #ccc;">
            <!--halaman-halaman tampil disini-->


            <router-outlet></router-outlet>



        </mat-sidenav-content>
        <!--end sidenav content-->
    </mat-sidenav-container>
</ng-container>